:root {
    --vermelho: #e53d2f;
    --preto: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*elementos base*/

body {
    background: var(--preto);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 14px;
}

header .logo {
    color: var(--vermelho);
    font-family: 'monospace';
    font-size: 30px;
    margin: 0px 50px 0px 0px;
    font-weight: 900;
}

header .container {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 70px;
}

header nav a {
    text-decoration: none;
    color: rgb(219, 218, 218);
    margin-right: 10px;
    transition: 100;
}

header nav a:hover {
    color: rgb(148, 147, 147);
}

.ativo {
    font-weight: 900;
    color: white;
    cursor: default;
}

.ativo:hover {
    font-weight: 900;
    color: white;
    cursor: default;
}


/*Filme principal*/

.filme-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50)100px), url('../img/capa-house.jpg');
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.container {
    margin-left: 7%;
}

.filme-principal .descricao {
    margin-bottom: 40px;
}

.filme-principal .titulo {
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 3%;
}

.filme-principal .botoes .botao {
    border: none;
    padding: 10px 20px 10px 30px;
    color: white;
    cursor: pointer;
    transition: 3;
    border-radius: 4%;
    font-size: 90%;
    height: 45px;
    margin: 0.5%;
}

.filme-principal .botoes .botao.maisinformacao {
    background-color: rgba(109, 109, 110, 0.829)
}

.filme-principal .botoes .botao.maisinformacao:hover {
    background-color: rgba(109, 109, 110, 0.295)
}

.filme-principal .botoes .botao.assistir {
    background-color: white;
    color: black;
}

.filme-principal .botoes .botao.assistir:hover {
    background-color: rgba(255, 255, 255, 0.616);
}

.filme-principal .botoes .botao i {
    margin-right: 15px;
}

.filme-principal .container {
    width: 60%;
}

.box-filme {
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-filmes {
    margin-top: 20px;
}