:root {
    --vermelho: #e53d2f;
    --preto: #965e0a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*elementos base*/

body {
    background: var(--preto);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 14px;
}

header .logo {
    width: 180px;
    margin-right: 20px;
}

header .container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
}

header .container .menu {
    display: flex;
    align-items: center;
}

header nav a {
    text-decoration: none;
    color: rgb(219, 218, 218);
    margin: 15px;
    transition: 100;
}

header nav a:hover {
    color: rgb(148, 147, 147);
}

.ativo {
    font-weight: 900;
    color: white;
    cursor: default;
}

.ativo:hover {
    font-weight: 900;
    color: white;
    cursor: default;
}


/*Filme principal*/

.filme-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, 0.692)100px), url('/img/ultimo\ cangaceiro.jpg');
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.container {
    margin-left: 7%;
}

.filme-principal .descricao {
    margin-bottom: 40px;
}

.filme-principal .titulo {
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 3%;
}

.filme-principal .botoes .botao {
    border: none;
    padding: 10px 20px 10px 30px;
    color: white;
    cursor: pointer;
    transition: 3;
    border-radius: 4%;
    font-size: 90%;
    height: 45px;
    margin: 0.5%;
}

.filme-principal .botoes .botao.maisinformacao {
    background-color: rgba(109, 109, 110, 0.829)
}

.filme-principal .botoes .botao.maisinformacao:hover {
    background-color: rgba(109, 109, 110, 0.295)
}

.filme-principal .botoes .botao.assistir {
    background-color: white;
    color: black;
}

.filme-principal .botoes .botao.assistir:hover {
    background-color: rgba(255, 255, 255, 0.616);
}

.filme-principal .botoes .botao i {
    margin-right: 15px;
}

.filme-principal .container {
    width: 60%;
}

.box-filme {
    height: 100%;
    width: 100%;
    display: block;
}

.owl-stage {
    margin-top: 20px;
}

.carrosel-filmes {
    margin-left: 40px;
    margin-right: 40px;
}

.carrosel-filmes .item {
    height: 300px;
}

.navegar {
    align-items: flex-end;
    border-radius: 5px;
    background: linear-gradient(rgba(15, 6, 6, 0), rgba(0, 0, 0, .50))100px;
    border: none;
    color: white;
    font-size: 15px;
    cursor: pointer;
    font-style: normal;
    font-family: 'Courier New', Courier, monospace;
    display: none;
}

.navegar:hover {
    font-size: 16px;
}

nav .user a i {
    width: 30px;
}

.box-filme2 {
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-filmes2 .item {
    height: 150px;
}

.carrosel-filmes2 {
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

ul li .titulo {
    margin: 20px 40px 0px 40px;
}