@media only screen and (min-width: 861px) {
    .filme-principal .descricao {
        width: 500px;
    }
}

@media screen and (max-width: 861px) {
    .navegar {
        display: block;
    }
    .menu a {
        display: none;
    }
}

@media screen and (max-width:600px) {
    .carrosel-filmes2 .item {
        height: 100px;
    }
    header nav a {
        margin: 0px !important;
    }
    .botoes {
        width: 400px;
    }
    .carrosel-filmes .item img .box-filme {
        width: 20px;
    }
}